* {
  outline: none;
}

body {
  background-color: #BBBBBB;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

div {
  background-color: #EEEEEE;
  width: 360px;
  height: 100%;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

textarea {
  width: 300px;
  position: absolute;
  border-style: none;
  border-radius: 3px/3px;
  line-height: auto;
  font-size: 15px;
  line-height: 20px;
  resize: none;
  overflow: auto;
}

button {
  font-size: large;
  position: absolute;
  border-style: none;
  border-radius: 3px/3px;
  background-color: rgb(0, 200, 0);
  width: 300px;
  height: 40px;
}